<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admins login page</title>
</head>
<body>

  <h2>Admins page</h2>

  <form method="POST">
    <label for="userName">User Name: </label>
    <input name='username' id="userName" type="text" placeholder="User Name">

    <label for="userPassword">User Password: </label>
    <input name='password' id="userPassword" type="password" placeholder="User Password">

    <button>Send</button>
  </form>
</body>
</html>